<script type="text/javascript">
    RED.nodes.registerType('grove-air-quality-sensor',{
        category: 'grove-base-hat',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            port: {value: 1}
        },
        inputs:1,
        outputs:1,
        icon: "bridge.png",
        label: function() {
            return this.name||"grove-air-quality-sensor";
        }
    });
</script>

<script type="text/x-red" data-template-name="grove-air-quality-sensor">

    <div class="form-row">
        <label for="node-input-port"><i class="fa fa-list"></i> Analog Port</label>
        <select id="node-input-port">
		<option value="0">A0</option>
		<option value="2">A2</option>
		<option value="4">A4</option>
		<option value="6">A6</option>
	</select>
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="grove-air-quality-sensor">
    <p>The node controls Grove Air Quality Sensor.</p>
    <h3>Outputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">object</span>
        </dt>
        <dd>the payload of detected Grove Air Qualiry Sensor data.</dd>
    <h3>Details</h3>
    <p>This node connects a Grove Airquality Sensor and publish the detected sensor data.</p>
</script>
